@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body{
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
main{
    width: 80%;
    background-color: hsl(244, 38%, 16%);
    margin: 10% auto;
    display: flex;
    border-radius: 10px;
}
.left-container{
    flex: 1;
}
.right-container{
    flex: 1;
    background-color: hsl(277, 64%, 61%);
}
img{
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    mix-blend-mode: multiply;
    opacity: 70%;
}
h1{
    margin: 10%;
    font-size: 2rem;
}
span{
    color: hsl(277, 64%, 61%);
}
.details{
    margin: 0 15% 13% 10%;
    color: hsla(0, 0%, 100%, 0.6);
}
.services{
    display: flex;
    justify-content: space-between;
    margin: 0 15% 5% 10%;
}
.services *{
    margin: 0;
}
.services h2{
    color: #fff;
}
.services p{
    margin-top: 0.3rem;
    font-size: 0.7rem;
    color: hsla(0, 0%, 100%, 0.6);
    letter-spacing: 1.5px;
}

@media screen and (max-width:700px) {

    main{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    img{
        border-radius: 10px 10px 0 0;
    }
    .details{
        margin: 10%;
        line-height: 1.5;
    }
    .services{
        display: block;
    }
    .services div{
        margin-bottom: 2rem;
    }
    
}